{% extends 'base.html' %}

{% block cardheader %}
Thank you for participating!
{% endblock %}

{% block cardtitle %} 
You have helped us a lot! 

{% endblock %}

{% block content %}
<p>Laboratory experiments are another way of doing a research. Normally participants get paid according to the income they get during the experiment. </p>

<p> Since this experiment serves educational purposes we can not offer money, but a chocolate, a cake or a coffee is on us if you want! :) Just let us know!</p>

{% endblock %}


{% block progresscounter %} 
SoCoLab 2021
{% endblock %}