{% extends 'base.html' %}

{% block cardheader %}
Welcome to the experiment!
{% endblock %}

{% block cardtitle %} 
Thank you for joining this small game!

{% endblock %}

{% block content %}

<p>We are a group of students carrying out a research for the seminar project at Götz Werner Chair of Economic Policy and Constitutional Economic Theory</p>

<p>During the experiment you will be provided with instructions. We hope you will enjoy your participation!</p>

<p>The game is anonymous. We will not share any of your answers or data to other participants. All results will be collected and analyzed for educative and scientific purposes.</p>

<p>The estimated duration of this experiment is about 20 minutes</p>

<p>Good luck and have fun!</p>

{% endblock %}

{% block button %}
<a href="/model" class="btn btn-primary">Start!</a>
{% endblock %}

{% block progresscounter %} 
SoCoLab 2021
{% endblock %}